:root {
    --name: "Morgan Oakley";
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "aside header header header header"
    "aside main main main main"
    "aside main main main main"
    "aside main main main main"
    "aside main main main main";
}

/* Begin sidebar styling */
aside {
    grid-area: aside;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: #059669;
    color: whitesmoke;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    "icon clickable-text";
    font-size: 1.4rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.dashboard > .icon {
    grid-area: icon;
    background-image: url(view-dashboard.svg);
    background-size: 100% 100%;
}

.home > .icon {
    grid-area: icon;
    background-image: url(home-variant.svg);
    background-size: 100% 100%;
}

.profile > .icon {
    grid-area: icon;
    background-image: url(account-cowboy-hat.svg);
    background-size: 100% 100%;
}

.messages > .icon {
    grid-area: icon;
    background-image: url(message-reply.svg);
    background-size: 100% 100%;
}

.history > .icon {
    grid-area: icon;
    background-image: url(history.svg);
    background-size: 100% 100%;
}

.tasks > .icon {
    grid-area: icon;
    background-image: url(format-list-checks.svg);
    background-size: 100% 100%;
}

.communities > .icon {
    grid-area: icon;
    background-image: url(account-group.svg);
    background-size: 100% 100%;
}

.clickable-text {
    grid-area: clickable-text;
}

.clickable-text:hover {
    color: lightgray;
    cursor: pointer;
}

.aside-top-buttons > div {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    "icon clickable-text";
    padding-bottom: 1rem;
    font-size: 1.2rem;
}

.aside-bottom > div {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    "icon clickable-text";
    padding-bottom: 1rem;
    font-size: 1.2rem;
}

.settings > .icon {
    grid-area: icon;
    background-image: url(cog-outline.svg);
    background-size: 100% 100%;
}

.support > .icon {
    grid-area: icon;
    background-image: url(help-box.svg);
    background-size: 100% 100%;
}

.privacy > .icon {
    grid-area: icon;
    background-image: url(shield-check.svg);
    background-size: 100% 100%;
}
/* end sidebar styling */

/* Start header styling */

header {
    grid-area: header;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.header-top-left {
    display: flex;
    padding: 10px;
    align-items: center;
}

.header-top-right {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.header-bottom-left {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
}

.header-bottom-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    height: 20px;
    width: 20px;
    background-image: url(magnify.svg);
    background-size: 100% 100%;
    margin-right: 10px;
}

.searchbar {
    height: 2rem;
    flex: 1;
    border-radius: 20px;
    background-color: silver;
    padding: 0px 6px;
    border: none;
}

#bell {
    height: 20px;
    width: 20px;
    background-image: url(bell-ring.svg);
    background-size: 100% 100%;
}

.avatar {
    height: 20px;
    width: 20px;
    background-image: url(penguin.svg);
    background-size: 100% 100%;
    padding: 0 2rem;
}

.avatar:nth-child(1) {
    height: 3rem;
    width: 3rem;
}
.name::after {
    content: var(--name);
}

button {
    margin: 20px;
    padding: 6px 24px;
    border-radius: 20px;
    border: none;
    background-color: #059669;
    color: whitesmoke;
}

button:hover {
    background-color:#10b981;
    cursor: pointer;
}

/* End header styling */

/* Begin main section styling */

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "main-left main-right";

}

.main-left {
    grid-area: main-left;
    background-color: silver;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.main-right {
    grid-area: main-right;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
    background-color: silver;
}

.left-box {
    background-color: whitesmoke;
    padding: 0 6px;
    border-radius: 8px;
}

.left-box > span {
    font-size: .8rem;
}

h4 {
    margin-top: 10px;
    margin-bottom: 0;
}
.star {
    height: 16px;
    width: 16px;
    background-image: url(star-plus-outline.svg);
    background-size: 100% 100%;
}

.watch {
    height: 16px;
    width: 16px;
    background-image: url(eye-plus-outline.svg);
    background-size: 100% 100%;
    margin: 0 10px;
}
.share {
    height: 16px;
    width: 16px;
    background-image: url(share-variant-outline.svg);
    background-size: 100% 100%;
}

.box-buttons {
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.star:hover, .watch:hover, .share:hover {
    cursor: pointer;
}

.main-right-top {
    display: grid;
    grid-template-rows: 30px 1fr;
    background-color: silver;
}

.main-right-bottom {
    display: grid;
    grid-template-rows: 30px 1fr;
    background-color: silver;
}

.announcements {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    background-color: whitesmoke;
    border-radius: 8px;
    margin-top: 6px;
}

.trending {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    background-color: whitesmoke;
    border-radius: 8px;
    margin-top: 6px;
}

.label {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.ann , .trend {
    padding-top: 6px;
    padding-left: 6px;
    border-bottom-style: dotted;
}
